{% extends "index.html" %}

{% block main_info %}

<div class="card">
  <div class="card-header">About</div>
  <div class="card-body">
    <table class="table table-responsive-sm table-hover table-outline mb-0">
      <tbody>
      Panoptes is a server that lets you monitor the execution of snakemake workflows. It is
      a free and open source tool under the MIT license.
      <br>
      The original project can be found <a href="https://github.com/panoptes-organization/panoptes"> here</a>.
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
